
.carousel-item{
    height:32rem;
    background:#777;
    
}
.mycols{
    border: 3px solid red;
    background-color: aqua;
}
.my-container{
    background-color: silver;;
}
td{
    border: 1px solid black;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    height: 123px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}